* {
    scroll-margin-top: 56px;
}

.homeHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/ushuaia_cartel_canal_1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    filter: blur(3px);
    height: 450px;
    width: 100%;
    margin: -1px;
    padding: 1px;
}

@media screen and (min-width: 768px) {
    .homeHeader {
        height: 100vh;
        background-size: cover;
    }

    * {
        scroll-margin-top: 66px;
    }
}