.footerBg {
    border-top: 2px white solid;
    height: 400px;
    background-image: linear-gradient(320deg, rgba(2, 0, 36, 0) 0%, #2f3a4496 20%, #2f3a44 85%) ,url("../images/ushuaia_02_crop1559312847927.jpg_1866758231.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right 10%;
}

@media screen and (min-width: 640px) {
    .footerBg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media screen and (min-width: 768px) {
    .footerBg {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }
}