.wrap {
  display: block;
  clear: both;
}
.wrap button {
  vertical-align: middle;
  margin: 0 30px;
}
/*--- Fancy Button ---*/
button {
  display: inline-block;
  right: 15px;
  float: none;
  margin: 0;
  padding: 10px;
  background: none !important;
  border: none;
  border-radius: 0;
  appearance: normal;
  -moz-appearance: normal;
  -webkit-appearance: normal;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  z-index: 999;
}
button.open {
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
button span {
  display: block;
  width: 22px;
  height: 2px;
  margin: 4px 0;
  border-radius: 1px;
  background: white;
  transition: all 0.3s ease-in-out;
}
button.open span:first-of-type {
  transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: relative;
  top: 6px;
}
button.open span:nth-of-type(2) {
  opacity: 0;
}
button.open span:last-of-type {
  transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  position: relative;
  bottom: 6px;
}

.mobileDrop {
  transition: 1s;
}

a {
  color: white;
  font-weight: bold;
  font-size: large;
  letter-spacing: 4px;
}